@model LoginInMVC4WithEF.Models.Registration
@{
    ViewBag.Title = "FuelQuoteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="divcheck">
        <legend>Fuel  Quote Form</legend>
            <div class="row">
                <div class="editor-label">
                @Html.Label("Gallons Requested -", new { @class = "label" })
                <!--@Html.LabelFor(u => u.GallonsRequested)-->
                    </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.GallonsRequested)
                    @Html.ValidationMessageFor(u => u.GallonsRequested)
                </div>
                <div class="editor-label">
                    @Html.Label("Delivery Address -", new { @class = "label" })
                    <!--@Html.LabelFor(u => u.DeliveryAddress)-->
                </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.DeliveryAddress)
                        @Html.ValidationMessageFor(u => u.DeliveryAddress)
                    </div>
                    <div class="editor-label">
                        @Html.Label("Delivery Date -", new { @class = "label" })
                        <!--  @Html.LabelFor(u => u.DeliveryDate)-->
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.DeliveryDate)
                        @Html.ValidationMessageFor(u => u.DeliveryDate)
                        @*@Html.TextBoxFor(u => u.DeliveryDate, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "datepicker" } })*@
                        @*<input type="date" class="form-control">*@
                    </div>
            </div>

            <div class="editor-label">
                @Html.Label("Suggested Price -", new { @class = "label" })
                <!--@Html.LabelFor(u => u.SuggestedPrice)-->
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.SuggestedPrice, new { disabled = "true", @Value = 50 })
                @Html.ValidationMessageFor(u => u.SuggestedPrice)
            </div>
            <div class="editor-label">
                @Html.Label("Total Amount Due - ", new { @class = "label" })
                <!-- @Html.LabelFor(u => u.TotalAmountDue)-->
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.TotalAmountDue, new
                {
                    disabled = "true",
                    @Value = 5000
                })
                @Html.ValidationMessageFor(u => u.TotalAmountDue)
            </div>

        <br />
        <input type="submit" value="Save" />
    </div>
}
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
    }*@ 