@model LoginInMVC4WithEF.Models.Registration
@{
    ViewBag.Title = "SubmitQuote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("FuelQuoteForm", "User", FormMethod.Post))
{
    <div class="divcheck">
        <h1>Fuel Quote Form</h1>
        <div class="editor-label">
            @Html.Label("Gallons Requested -", new { @class = "label" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.GallonsRequested, new {@readonly = "readonly"})
            @Html.ValidationMessageFor(u => u.GallonsRequested)
        </div>

        <div class="editor-label">
            @Html.Label("Delivery Address -", new { @class = "label" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.DeliveryAddress, new { disabled = "true" })
        </div>

        @*<div class="editor-label">
                @Html.Label("Delivery Date -", new { @class = "label" })
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.DeliveryDate)
                @Html.ValidationMessageFor(u => u.DeliveryDate)
            </div>*@

        <div class="editor-label">
            @Html.Label("Delivery Date -", new { @class = "label" })
            @*@Html.LabelFor(u => u.DeliveryDate)*@
        </div>
        <div>
            <form>
                @*<label for="deliverydate">Delivery Date -</label><br>*@
                @*@Html.TextBoxFor(u => u.DeliveryDate, new {disabled = "true", @type = "date", @class = "form-control datepicker", @Value = Model.DeliveryDate.ToString("yyyy-MM-dd") })*@
                @Html.TextBoxFor(u => u.DeliveryDate, new { @readonly = "readonly",@Value = Model.DeliveryDate.ToString("dd-MM-yyyy")})
                @*<input type="date" id="deliverydate">*@
            </form>
        </div>

        <div class="editor-label">
            @Html.Label("Suggested Price -", new { @class = "label" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.SuggestedPrice, new { disabled = "true" })
            @Html.ValidationMessageFor(u => u.SuggestedPrice)
        </div>

        <div class="editor-label">
            @Html.Label("Total Amount Due - ", new { @class = "label" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.TotalAmountDue, new { disabled = "true", })
            @Html.ValidationMessageFor(u => u.TotalAmountDue)
        </div>
        <br />

        <div>
            @*<input type="button" value="Get Quote" onclick="@("location.href='" + Url.Action("GetQuote", "User") + "'")" EnableEventValidation="false"/>*@
            <input type="submit" value="Submit Quote" />
            <input type="button" value="Make New Quote" onclick="@("location.href='" + Url.Action("FuelQuoteForm", "User") + "'")" />
            <input type="button" value="Go To Home" onclick="@("location.href='" + Url.Action("MainPage", "User") + "'")" />
            @*<input type="submit" value="Accept Quote" onclick="@("location.href='" + Url.Action("FuelQuoteForm", "User") + "'")" />*@
        </div>

        <div class="text-danger">
            @Html.ValidationSummary(false)
        </div>

    </div>
}

@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

        <script>
            $(function () {
                $('.datepicker').datepicker({
                    dateFormat: 'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true
                });
            });
        </script>
        }*@

